{% extends "base.html" %}

{% block body %}
<h2>List</h2>
{% if object_list %}
<table>
    <thead>
        <th>Title</th>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url PollViews:show object.pk %}">
                    {{ object }}
                </a>

                <a href="{% url PollViews:edit object.pk %}">
                    edit
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<strong>No poll in database</strong>
{% endif %}

<div class="actions">
    <a href="{% url PollViews:add %}">
        New poll
    </a>
</div>
{% endblock %}
